.button {
    -fx-background-radius: 15;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #ddd;
}

.table-cell {
    -fx-alignment: center;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab {
    -fx-background-color: transparent;
}

.tab-pane .tab-content-area {
    -fx-background-color: transparent;
}

.tab-pane {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
